
.timeline-date{
   font-size: 20px;
   font-weight: 800;
   color: #fff;
   margin: 6px 0 15px;
}

.timeline-content{
   background-color: #080808;
   border: 3px solid #0096ff;
   padding: 30px 50px;
   border-radius: 4rem;
   box-shadow: 0 0 10px #0096ff;
   cursor: pointer;
   transition: 0.3s ease-in-out;
}

.timeline-content:hover{
   transform: scale(1.05);
   box-shadow: 0 0 25px #0096ff;
}

.timeline-content h3{
   font-size:20px;
   color: #fff;
   margin:0 0 10p;
   font-weight:500;
}

.timeline-content p{
   color:#fff;
   font-size:16px;
   font-weight: 300;
   line-height: 22px;
}

/* Skill Section Design */
.Skill{
   background: #080808;
   color:#080808;
}
.Skill{
   margin-bottom: 5rem;
   color: #fff;
}

.Skill-container{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   align-items:center;
   gap:2.5rem;
}

.Skill-box {
   background-color: #0096ff;
   height:300px;
   border-radius: 3rem;
   border:5px solid transparent;
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
.Skill-box:hover{
   background: #fff;
   color:#131313;
   border: 5px solid #0096ff;
   transform: scale(1.03);
}

.Skill-box .service-info{
   display: flex;
   flex-direction: column;
   text-align: left;
   min-height: 200px;
   justify-content: left;
   padding: 5rem 5rem;
}

.Skill-info h4{
   font-size: 3.2rem;
   font-weight:800;
   line-height: 1;
   padding-bottom: 1.2rem;
}

.Skill-info p{
   font-size:1.2rem;
   font-weight: 600;
   min-height: 100px;
   line-height:1.7;
   margin:auto;
}

/* Project Section Design */

.Project {
   background: #131313 ;
}

.Project-box {
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.Project .heading {
   margin-bottom: 5rem;
}

.Project-box img{
   width: 15rem;
   border-radius: 50%;
   border: 3px solid #0096ff;
   box-shadow: 0 0 25px #0096ff;
}
.wrapper {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 3rem;
}
.Project-item {
   min-height: 430px;
   max-width: 450px;
   background: #080808;
   border: 3px solid rgba(238,238,238,0.3);
   border-radius: 2rem;
   margin: 0 2rem;
   padding: 30px 60px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   gap: 1.5rem;
   color:#fff;
   transition: 0.3s ease-in-out;
}
.Project-item:hover{
   border: 3px solid #0096ff;
   transform: translateY(-10px)scale(1.03);
   box-shadow: 0 0 50px #0096ff ;
}

.Project-item h2{
   font-size: 2.8rem;
}
.Project-item p{
   font-size: 1.3rem;
}
#star {
   color:gold;
   font-size: 2rem;
}

/* contact Section Design */

.contact {
   background-color: #080808;
}
.contact  h2 {
   margin-bottom: 3rem;
   color: #fff;
}

.contact form {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   margin: 5rem auto;
   text-align: center;
}

.contact form .input-box{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
   width: 100%;
   padding: 2.5rem;
   font-size: 1.8rem;
   color: #fff;
   background-color: #080808;
   border-radius: 2rem;
   border:  2px solid #0096ff;
   margin: 1.5rem 0;
   resize: none;
}

.contact form .btn {
   margin: 2rem;
}

/* Footer Section Design */
.footer {
   position: relative;
   bottom: 0;
   width: 100%;
   padding:  40px 0;
   background-color: #131313;
}

.footer .social {
   text-align: center;
   padding-bottom: 25px;
   color: #0096ff;
}
.footer .social a {
   font-size: 25px;
   color:#0096ff;
   border: 2px solid #0096ff;
   width: 42px;
   height: 42px;
   line-height: 42px;
   display: inline-block;
   text-align: center;
   border-radius: 50px;
   margin:0 10px;
   transition: 0.3s ease-in-out;
}

.footer .social a:hover {
   transform: scale(1.2) translateY(-10px);
   background-color: #0096ff;
   color: #131313;
   box-shadow: 0 0 25px #0096ff;
}

.footer .copyright {
   margin-top: 20px;
   text-align: center;
   font-size: 16px;
   color: #fff;
}

/* Scrollbar Design */

 ::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-thumb {
   background-color:  #0096ff;
   width: 50px;
} 

/* Responsive Design */

 @media (max-width:1284px) {
    html{
        font-size: 55%;
    }  
      
    .Skill  -container {
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
 }

 @media (max-width:991px) {
    header{
padding: 2rem 3%;
    }
        section{
            padding: 10rem 3% 2rem;
        }

        .timeline-item::before{
            left: 7px;
        }
        .timeline-item:nth-child(odd){
            padding-right: 0;
            text-align: left;
        }

        .timeline-item:nth-child(odd),
        .timeline-item:nth-child(even){
            padding-left: 37px;
        }

        .timeline-dot{
            left: 0;
        }
            .Skill{
                padding-bottom: 7rem;
            }

            .Project .wrapper {
                grid-template-columns: repeat(1,1fr);
            }
            .contact form {
                flex-direction: column;
            }

            .footer{
                padding: 2rem 3%;
            }
        }
  @media (max-width:894px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0,0,0,0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid #0096ff;
        border-bottom: 2px solid #0096ff;
        display: none;
    }
    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #fff;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content  h3{
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 6rem;
        margin-top: 1rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img {
        width: 56vw;
    }

    .Skill-container {
        grid-template-columns: repeat(1,1fr);
    }

  }
  @media (max-width:425px)  {
    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content  h1 {
        font-size: 5rem;
        margin-top:  1rem;
    }

    .heading {
        font-size: 4rem;
        text-align: center;
        margin: 2rem 0;
    }
  }